---
import Layout from '@layouts/Layout.astro'
import SeminarCard from '@components/card/SeminarCard.astro'
import seminars from '@utils/seminars.ts'
---

<Layout>
  <article class="prose w-full flex flex-col p-[25px]">
    <h2>Seminar</h2>
  </article>
  <p class="px-[25px] pb-10">
    포애퍼는 <a href="#reg" class="underline">정기 세미나</a> 와 <a
      href="#irr"
      class="underline">정모 세미나</a
    > 를 통해 기술을 공유하고 교류하며 성장합니다. 누구나 세미나를 열 수 있고, 자유롭게
    참가할 수 있습니다. 모든 세미나는 PoApper Archive 로 관리되며 누구나 열람할 수
    있습니다!
  </p>

  <article class="prose w-full flex flex-col p-[25px]">
    <h3 id="reg">정기 세미나</h3>
  </article>
  <p class="px-[25px] pb-10">
    정기 세미나는 3개월 동안 진행되며, 세미나를 통해 개발에 대한 기본기를 익힐
    수 있습니다. 프론트엔드, 백엔드, 모바일 세미나를 운영하고 있으며, 수요가
    있을 때는 고급 세미나를 열어 심화된 내용을 다루기도 합니다.
  </p>
  <div class="py-1/8 px-1/8">
    <div
      class="px-[25px] grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-2 gap-6 justify-self-center place-items-stretch place-self-center"
    >
      {
        seminars.seminars.map((seminar) => {
          return <SeminarCard seminar={seminar} />
        })
      }
    </div>
  </div>

  <article class="prose w-full flex flex-col p-[25px]">
    <h3 id="irr">정모 세미나</h3>
  </article>
  <p class="px-[25px] pb-10">
    포애퍼 정기 모임에서 개발 관련 이슈와 노하우 등을 공유하는 세미나 입니다.
    누구나 자발적으로 세미나를 진행할 수 있으며, 포애퍼 신규회원을 위한 개발
    입문 세미나와 코딩 테스트, 인턴십, 개발툴 등 다양한 주제를 다루고 있습니다.
  </p>

  <div class="py-1/8 px-1/8">
    <div class="px-[25px]">
      <ul class="list-disc ml-6">
        {
          seminars.irregular_seminars.map((seminar) => {
            return (
              <li class="p-1">
                [{seminar.date}] {seminar.title} by
                {seminar.name.map((person) => (
                  <>
                    <a
                      href={`https://github.com/${person[1]}`}
                      class="hover:underline"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      @{person[1] === '' ? person[0] : person[1]}
                    </a>
                    <span class="text-white">|</span>
                  </>
                ))}
                <a
                  href={seminar.pdfUrl}
                  class="rounded-[36px] px-3 bg-[#B4D463] text-white text-sm font-extrabold italic"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  slide
                </a>
              </li>
            )
          })
        }
      </ul>
    </div>
  </div>
</Layout>